name: Test

on:
  pull_request:
    paths:
      - "adetailer/**.py"
  workflow_call:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  test:
    name: Test on python ${{ matrix.python-version }}
    runs-on: macos-latest
    strategy:
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache-dependency-glob: "pyproject.toml"

      - name: Install clip for YOLO-world support
        run: uv pip install git+https://github.com/ultralytics/CLIP.git

      - name: Run tests
        run: uv run --all-extras pytest -v
