.controlnet .tabitem .label-wrap>span:nth-child(1) {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.controlnet .tabitem .icon {
    height: 1rem;
    width: 1rem;
}

.controlnet .tabitem .label-wrap {
    align-items: center;
}

.cnet-generated-image-control-group,
.cnet-upload-pose {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    position: absolute;
    right: var(--size-2);
    bottom: var(--size-4);
}

.cnet-download-pose a,
.cnet-close-preview,
.cnet-edit-pose,
.cnet-upload-pose {
    font-size: x-small !important;
    font-weight: bold !important;
    padding: 2px !important;
    box-shadow: var(--shadow-drop);
    border: 1px solid var(--button-secondary-border-color);
    border-radius: var(--radius-sm);
    background: var(--background-fill-primary);
    height: var(--size-5);
    color: var(--block-label-text-color) !important;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.cnet-generated-image-control-group div.styler {
    margin-bottom: 16px;
}

.cnet-download-pose:hover a,
.cnet-close-preview:hover a,
.cnet-edit-pose:hover,
.cnet-upload-pose:hover {
    color: var(--block-label-text-color) !important;
}

.cnet-unit-active {
    color: green !important;
    font-weight: bold !important;
}

.dark .cnet-unit-active {
    color: greenyellow !important;
}

.cnet-disabled-radio {
    opacity: 50%;
}

.controlnet_row {
    margin-top: 10px !important;
}

.cnet-upload-pose input[type=file] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.controlnet_control_type_filter_group label {
    background: unset !important;
    border: unset !important;
    margin-left: -8px !important;
}

.controlnet_control_type_filter_group>span {
    display: none !important;
}

.cnet-toolbutton {
    background: unset !important;
    border: unset !important;
}

.range-slider {
    margin-top: -8px;
}
